---
import { CollectionEntry, getCollection, getEntryBySlug } from "astro:content";
import path from "path";
import Layout from "@/src/layouts/Layout.astro";
import { isDateValid, Post } from "@/src/lib/post";

export interface Props {
    post: CollectionEntry<'post'>;
}

export async function getStaticPaths() {
    const posts = await getCollection('post');
    return posts.map((post) => {
        const [lang, id] = post.slug.split("/");

        return {
            params: {
                id,
                lang,
            },
            props: {
                post,
            },
        };
    });
}

const { post } = Astro.props as Props;
const { Content: PostContent } = await post.render();

const date = new Date(post.data.date + " EDT");
if (!isDateValid(date)) {
    const file = path.parse(post.slug).base;
    throw new Error(`Data do post '${file}' inválida: ${post.data.date}`);
}
---

<Layout title={`Roberto Nazareth - ${post.data.title}`}>
    <article class="mx-auto px-8 pb-5 w-full max-w-[70ch]">
        <header>
            <h1 class="mb-2 text-4xl font-bold text-zinc-900 dark:text-white">
                {post.data.title}
            </h1>
            <time class="m-0 text-slate-500 dark:text-zinc-400" date-time={post.data.date}>
                Postado em: {date.toLocaleDateString("pt-BR")}
            </time>
        </header>

        <main class="my-5 prose lg:prose-lg dark:prose-invert">
            <PostContent />
        </main>

        <a class="text-slate-500 dark:text-zinc-400 text-xl" href="/">
            Voltar para a Home
        </a>
    </article>
</Layout>
