---
import { CollectionEntry, getCollection, getEntryBySlug } from "astro:content";
import path from "path";
import Layout from "@/src/layouts/Layout.astro";
import { isDateValid, Post } from "@/src/lib/post";
import "@/src/styles/blog.css";

export interface Props {
    post: CollectionEntry<'post'>;
}

export async function getStaticPaths() {
    const posts = await getCollection('post');
    return posts.map((post) => {
        const [lang, id] = post.slug.split("/");

        return {
            params: {
                id,
                lang,
            },
            props: {
                post,
            },
        };
    });
}

const { post } = Astro.props as Props;
const { Content: PostContent } = await post.render();

const date = new Date(post.data.date + " EDT");
if (!isDateValid(date)) {
    const file = path.parse(post.slug).base;
    throw new Error(`Data do post '${file}' inválida: ${post.data.date}`);
}
---

<Layout title={`Roberto Nazareth - ${post.data.title}`}>
    <article class="wrapper">
        <header>
            <h1 class="title">{post.data.title}</h1>
            <time date-time={post.data.date}>
                Postado em: {date.toLocaleDateString("pt-BR")}
            </time>
        </header>

        <main class="prose lg:prose-xl">
            <PostContent />
        </main>

        <a href="/">Voltar para a Home</a>
    </article>
</Layout>
