---
import { CollectionEntry, getCollection, getEntryBySlug } from "astro:content";
import path from "path";
import Layout from "@/src/layouts/Layout.astro";
import { isDateValid, Post } from "@/src/lib/post";
import "@/src/styles/blog.css";

export interface Props {
    post: CollectionEntry<'post'>;
}

export async function getStaticPaths() {
    const posts = await getCollection('post');
    return posts.map((post) => {
        const [lang, id] = post.slug.split("/");

        return {
            params: {
                id,
                lang,
            },
            props: {
                post,
            },
        };
    });
}

const { post } = Astro.props as Props;
const { Content: PostContent } = await post.render();

const date = new Date(post.data.date + " EDT");
if (!isDateValid(date)) {
    const file = path.parse(post.slug).base;
    throw new Error(`Data do post '${file}' inválida: ${post.data.date}`);
}
---

<Layout title={`Roberto Nazareth - ${post.data.title}`}>
    <article class="wrapper content">
        <header>
            <h1 class="title">{post.data.title}</h1>
            <time date-time={post.data.date}>
                Postado em: {date.toLocaleDateString("pt-BR")}
            </time>
        </header>

        <main>
            <PostContent />
        </main>

        <a href="/">Voltar para a Home</a>
    </article>
</Layout>

<style>
    img {
        width: 100vw;
        object-fit: cover;
        object-position: center;
        margin-top: 2rem;
        margin-bottom: 4rem;
        max-width: 1280px;
    }

    @media (max-width: 50em) {
        img {
            height: 260px;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }

    .content {
        margin-bottom: 8rem;
    }

    .content :global(h2) {
        margin-top: 4rem;
    }

    .title {
        font-size: 2.25rem;
        font-weight: 700;
        margin: 0;
    }

    time {
        margin: 0;
        color: var(--theme-text-lighter);
    }
</style>
