---
import { type Projeto } from "@/src/content/config";
import clsx from "clsx";
import { CardLinkButton } from "./CardLinkButton";
import TagButton from "./TagButton.astro";

interface Props {
    projeto: Projeto;
}

const { projeto } = Astro.props;
const { link, download_link, repo } = projeto;

const projetoSemLinks = link == null && download_link == null && repo == null;
---

<div
    transition:name={`portfolio_${projeto.titulo}`}
    class={clsx([
        "w-[90vw] sm:w-[300px] sm:min-w-[300px] min-h-[460px]",
        "text-slate-700 dark:text-white bg-white dark:bg-zinc-800",
        "rounded-t-md rounded-b shadow-lg dark:shadow-xl text-center",
    ])}
>
    <img
        src={projeto.thumbnail}
        alt={`Imagem representando o projeto ${projeto.titulo}`}
        class="h-[180px] w-full object-cover rounded-t-md"
    />

    <div class="h-full p-1 pt-0 flex flex-col items-center justify-between">
        <div>
            <p class="mx-1 mt-1 text-xl font-bold text-center">
                {projeto.titulo}
            </p>
    
            <p class="mx-1 text-center">
                {projeto.descricao}
            </p>
    
            <div class="flex flex-row flex-wrap justify-center">
                {(projeto.link != null) && (
                    <CardLinkButton href={projeto.link!} text="Abrir site" />
                )}
    
                {(projeto.download_link != null)  && (
                    <CardLinkButton
                        href={Astro.props.projeto.download_link!}
                        text="Baixar"
                    />
                )}
    
                {(projeto.repo != null) && (
                    <CardLinkButton
                        href={`https://github.com/roberto-ng/${Astro.props.projeto.repo}`}
                        text="Repositório"
                    />
                )}

                {(projetoSemLinks) && (
                    <div class="mt-10">
                    </div>
                )}
            </div>
        </div>

        <div>
            <div class="text-lg text-center">
                <p>Feito com:</p>
                <div
                    class="flex flex-row flex-wrap items-center justify-center whitespace-nowrap"
                >
                    {Astro.props.projeto.tags.map((tag) => (
                        <TagButton tag={tag} />
                    ))}
                </div>
            </div>
    
            <div class="text-lg text-center">
                <p>Disponível para:</p>
                <div
                    class="flex flex-row flex-wrap items-center justify-center whitespace-nowrap"
                >
                    {Astro.props.projeto.plataformas.map((plataforma) => (
                        <TagButton tag={plataforma} />
                    ))}
                </div>
            </div>
        </div>
    </div>
</div>
