---
import type { Projeto } from '@/src/lib/projeto';
import { CollectionEntry } from 'astro:content';
import CardLinkButton from './CardLinkButton.astro';

export interface Props {
	projeto: CollectionEntry<'projeto'>,
}

const { projeto } = Astro.props as Props;
---

<div class="cardProjeto fadeIn">
	<div 
		class="thumb"
		style={`background-image: url('${projeto.data.thumbnail ?? ''}')`}
	>
	</div>

	<div class="cardProjetoDetalhes">
		<p class="titulo">
			{projeto.data.titulo}
		</p>

		<p class="descricao">
			{projeto.data.descricao}
		</p>

		<div class="links">
			{(projeto.data.link != null) && (
				<CardLinkButton 
					href={projeto.data.link} 
					text="Abrir site"
				/>
			)}

			{(projeto.data.download_link != null) && (
				<CardLinkButton 
					href={projeto.data.download_link} 
					text="Baixar"
				/>
			)}

			{(projeto.data.repo != null) && (
				<CardLinkButton 
					href={`https://github.com/roberto-ng/${projeto.data.repo}`}
					text="Repositório"
				/>
			)}

		</div>

		<div class="subtitulo">
			<p>Feito com: </p>
			<div class="tags">
				{projeto.data.tags?.map(tag => (
					<div class="tag">
						<p>{tag}</p>
					</div>
				))}
			</div>
		</div>

		<div class="subtitulo">
			<p>Disponível para: </p>
			<div class="tags">
				{projeto.data.plataformas?.map(plataforma => (
					<div class="tag">
						<p>{plataforma}</p>
					</div>
				))}
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	$tag-border-color: #313338;

	.cardProjeto {
		color: #313338;
		width: 300px;
		min-height: 430px;
		background-color: white;
		border: none;
		border-radius: 4px;
		box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
		transition: all 0.3s ease 0s;
		text-align: center;
	}

	.titulo {
		text-align: center;
		font-size: 1.2rem;
		margin-top: 0px;
	}

	.descricao {
		text-align: center;
	}

	.thumb {
		width: 300px;
		height: 180px;
		background-position: center center;
		background-size: cover;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 8px 0px;
	}

	p {
		margin: 0;
	}

	.cardProjetoDetalhes {
		padding: 10px;
		padding-top: 0px;
	}

	.links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.subtitulo {
		text-align: center;
		font-size: large;
	}

	.tags {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
	}

	.tag {
		color: $tag-border-color;
		border: 1px solid $tag-border-color;
		border-radius: 3px;

		margin: 5px;
		padding: 5px;
		
		p {
			font-size: medium;
		}
	}

	@media screen and (max-width: 380px) {
		.cardProjeto {
			width: 95%;
			max-width: 95%;
		}

		.thumb {
			width: 100%;
		}
	}
</style>