---
import type { Projeto } from '@/src/lib/projeto';
import { CollectionEntry } from 'astro:content';
import CardLinkButton from './CardLinkButton.astro';

export interface Props {
	projeto: CollectionEntry<'projeto'>,
}

const { projeto } = Astro.props;
---

<div 
	class="sm:w-[300px] sm:min-w-[300px] mx-5 text-slate-700 dark:text-white min-h-[430px] bg-white dark:bg-zinc-800
		   rounded-t-md rounded-b shadow-lg dark:shadow-xl text-center fadeIn"
>
	<div 
		class=" h-[180px] bg-center bg-cover rounded-t-md thumb "
		style={`background-image: url('${projeto.data.thumbnail ?? ''}')`}
	>
	</div>

	<div class="p-1 pt-0">
		<p class="text-center text-lg mt-0">
			{projeto.data.titulo}
		</p>

		<p class="text-center">
			{projeto.data.descricao}
		</p>

		<div class="flex flex-row flex-wrap justify-center">	
			{(projeto.data.link != null) && (
				<CardLinkButton 
					href={projeto.data.link} 
					text="Abrir site"
				/>
			)}

			{(projeto.data.download_link != null) && (
				<CardLinkButton 
					href={projeto.data.download_link} 
					text="Baixar"
				/>
			)}

			{(projeto.data.repo != null) && (
				<CardLinkButton 
					href={`https://github.com/roberto-ng/${projeto.data.repo}`}
					text="Repositório"
				/>
			)}

		</div>

		<div class="text-center text-lg">	
			<p>Feito com: </p>
			<div class="flex flex-row flex-wrap items-center justify-center whitespace-nowrap">
				{projeto.data.tags?.map(tag => (
					<div class="border-[1px] text-gray-800 dark:text-white border-gray-800 dark:border-white rounded-sm m-1 p-1">
						<p class="text-base m-0">{tag}</p>
					</div>
				))}
			</div>
		</div>

		<div class="text-center text-lg">
			<p>Disponível para: </p>
			<div class="flex flex-row flex-wrap items-center justify-center whitespace-nowrap">
				{projeto.data.plataformas?.map(plataforma => (
					<div class="border-[1px] text-gray-800 dark:text-white border-gray-800 dark:border-white rounded-sm m-1 p-1">
						<p class="text-base m-0">{plataforma}</p>
					</div>
				))}
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	.thumb {
		box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 8px 0px;
	}
</style>